p
{
  font-family: 'Sniglet';
  position: relative;
  width: 600px;
  left: 90px;
  top: 20px;
  text-indent: 20px;
  padding: 20px;
}
body
{
  display: flex;
}
.square{
  position: absolute;
  background-color: red;
  width: 200px;
  height: 200px;
  left: -1%;
  top: 110px;
  border-radius: 100%;
}